{% extends "entitlements.html" %}
{% set page.title = "Introduction to SLAs" %}
{% set page.nav = "intro" %}
{% set page.prev = "index.html" %}
{% set page.next = "02_setup.html" %}

{% block content %}
<h1>Introduction to SLAs</h1>
<p>When dealing with customer cases, one of the worst things you can do is let a case languish.  A case that has not been updated in days, weeks, eons means that you most likely have an upset customer on the other end.  To manage this, most support organizations create Service Level Agreements (SLAs) that define the timeline that the support representatives are suppose to adhere to.</p>
<p>Your organizations SLA can be as simple or as complex as you desire.  A simple example could be that all cases should be close within 3 days.  Or a more complex SLA could have multip steps, require different entitlement types that are sold to different customers and are dependent on data within the case.  In this hands-on training, we will implement a relatively complicated SLA to show what can be done.</p>
<p>It's also important to note that your SLA does not have to be public and it does not have to be legally binding.  Lots of companies choose to announce their SLAs to their customers and some even place adherence to their SLA into contracts with the customers.  While these are nice for the customer, even having a private SLA that your support representatives strive for can have a great effect on your support delivery process</p>
<h1>Video Recording</h1>
<p>This hands-on training was delivered in 2015 at Dreamforce and was also recorded professionally by Salesforce University.  You can follow along with the recording below.</p>
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FC-kPyRGi2E"></iframe>
</div>
{% endblock %}