{% extends "entitlements.html" %}
{% set page.title = "Entitlement Processes" %}
{% set page.nav = "processes" %}
{% set page.prev = "04_entitlement_management.html" %}
{% set page.next = "06_milestone_actions.html" %}

{% block content %}
<h1>Entitlement Processes &amp; Milestones</h1>
<h2>Milestones</h2>
<p>Milestones are what your goals are for the case.  They could be as simple as "Resolve Case" or as complex as an ongoing response, a temporary resolution provided or a code fix delivered.  In Salesforce, the milestones have no real functionality, they are simply labels that are created to be moved around by your entitlement process</p>
<h2>Entitlement Processes</h2>
<p>Entitlement processes are where you finally take your defined SLAs and turn them into something actionable.  The determine how the case will behave while under it's influence.</p>
<img class="img-responsive"src="{{site.urlRoot}}images/entitlements/entitlement_processes_advanced.png" alt="New entitlement process advanced options">
<p>As part of the creation of a new entitlement process, you can define when your process case enters the process
	<ul>
		<li><b>Based on case created date &ldash;</b> This is when the case is created.  Typically, this is the option you would use</li>
		<li><b>Based on a custom date/time field on the case &ldash;</b> This allows you to choose a field on the case to use.  This is useful if your entitlement process does not start until after an action occurs.  For example if a case must be vetted then a datetime field is set starting the process</li>
	</ul>
</p>
<p>You can also set when the case exits this process
	<ul>
		<li><b>Based on when the case is closed &ldash;</b> Again, this is typically the option you would choose</li>
		<li><b>Based on custom criteria &ldash;</b> This allows you to set custom criteria for when the process exits.  This is useful for you consider a case resolved based on something other than the case's status.  For example if a solution is verified or a knowledge article is written</li>
	</ul>
</p>
<p class="alert alert-info" role="alert"><i class="glyphicon glyphicon-info-sign"></i> When a entitlement process exits, it does not mark any in-progress milestones as completed. For this to happen you will have to add a <a href="https://help.salesforce.com/HTViewHelpDoc?id=entitlements_milestones_trigger.htm">custom trigger</a></p>

<hr />

<h1 id="exercise">Exercise 3: Create Entitlement Processes and Milestones</h1>

<h3 id="goal">Goal:</h3>
<p>Create case milestones and create entitlement processes.</p>

<h3 id="scenario">Scenario:</h3>
<p>Your support organization offers Premium and Standard levels of support based on the table below.</p>

<table class="table table-bordered table-process">
	<tr class="label-severity">
		<td class="border-none"></td>
		<td></td>
		<td class="text-center"><i>High</i></td>
		<td class="text-center"><i>Normal</i></td>
	</tr>
	<tr>
		<td rowspan="2" class="text-right label-level"><i>Premium</i></td>
		<td><b>First Response</b></td>
		<td>1 Hour</td>
		<td>6 Hours</td>
	</tr>
	<tr>
		<td><b>Case Closure</b></td>
		<td>2 Business Days</td>
		<td>6 Business Days</td>
	</tr>
	<tr>
		<td rowspan="2" class="text-right label-level"><i>Standard</i></td>
		<td><b>First Response</b></td>
		<td>4 Business Hours</td>
		<td>12 Business Hours</td>
	</tr>
	<tr>
		<td><b>Case Closure</b></td>
		<td>4 Business Days</td>
		<td>8 Business Days</td>
	</tr>
</table>

<p class="alert alert-info" role="alert"><i class="glyphicon glyphicon-info-sign"></i> Based on our business hours, a business day consists of 9hrs. So these must be converted to minutes based on that.</p>
<p>To aid in the math, the table below is the conversion of hours to minutes</p>

<table class="table table-bordered table-process">
	<tr class="label-severity">
		<td class="border-none"></td>
		<td></td>
		<td class="text-center"><i>High</i></td>
		<td class="text-center"><i>Normal</i></td>
	</tr>
	<tr>
		<td rowspan="2" class="text-right label-level"><i>Premium</i></td>
		<td><b>First Response</b></td>
		<td>60 Minutes</td>
		<td>360 Minutes</td>
	</tr>
	<tr>
		<td><b>Case Closure</b></td>
		<td>1080 Minutes</td>
		<td>3240 Minutes</td>
	</tr>
	<tr>
		<td rowspan="2" class="text-right label-level"><i>Standard</i></td>
		<td><b>First Response</b></td>
		<td>240 Minutes</td>
		<td>720 Minutes</td>
	</tr>
	<tr>
		<td><b>Case Closure</b></td>
		<td>2160 Minutes</td>
		<td>4320 Minutes</td>
	</tr>
</table>
<p class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-info-sign"></i> <b>Example:</b> For standard-high, 4 business days x 9 business hours x 60 minutes == 2160 minutes</p>

<h3>Tasks:</h3>
<ol>
	<li>Create the First Response and Case Closure milestones</li>
	<li>Create Premium and Standard entitlement processes</li>
	<li>Add case milestones to meet your expected response times</li>
</ol>

<hr />

<h2 id="instructions">Instructions</h2>
<ol>
	<li>Create the First Response and Case Resolution milestone
		<ol>
			<li>Click <b>Customize | Entitlement Management | Milestones</b></li>
			<li>Click <b>New Milestone</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Name</dt>
					<dd>First Response</dd>
					<dt>Description</dt>
					<dd>The first response to the case</dd>
					<dt>Recurrence Type</dt>
					<dd>No Recurrence</dd>
				</dl>
			</li>
			<li>Click <b>Save &amp; New</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Name</dt>
					<dd>Case Resolution</dd>
					<dt>Description</dt>
					<dd>The resolution of the case</dd>
					<dt>Recurrence Type</dt>
					<dd>Independent</dd>
				</dl>
			</li>
			<li>Click <b>Save</b></li>
		</ol>
	</li>
	<li>Create the Premium entitlement process
		<ol>
			<li>Click <b>Customize | Entitlement Management | Entitlement Processes</b></li>
			<li>Click <b>New Entitlement Process</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Entitlement Process Name</dt>
					<dd>Premium</dd>
					<dt>Description</dt>
					<dd>The premium entitlement process</dd>
					<dt>Active</dt>
					<dd><i class="glyphicon glyphicon-ok"></i></dd>
					<dt>Version Notes</dt>
					<dd>Initial version</dd>
				</dl>
			</li>
			<li>Leave the advanced options as the default.</li>
			<li>Click <b>Save</b></li>
		</ol>
	</li>
	<li>Add the case milestones to the Premium entitlement process
		<ol>
			<li>Under the Milestone section, click <b>New</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Milestone Name</dt>
					<dd>First Response</dd>
					<dt>Trigger Time</dt>
					<dd>60</dd>
					<dt>Start Time</dt>
					<dd>Entitlement Process</dd>
					<dt>Milestone Business Hours</dt>
					<dd>24x7</dd>
					<dt>Order</dt>
					<dd>1</dd>
					<dt>Criteria<dt>
					<dd><img class="img-responsive" src="{{site.urlRoot}}images/entitlements/entitlement_process_high_first_response.png" /></dd>
				</dl>
			</li>
			<li>Click <b>Save</b></li>
			<li>Repeat steps A-C for <i>Normal</i></li>
			<li>Under the <i>Milestone section</i>, click <b>New</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Milestone Name</dt>
					<dd>Case Resolution</dd>
					<dt>Trigger Time</dt>
					<dd>1080</dd>
					<dt>Start Time</dt>
					<dd>Milestone Criteria</dd>
					<dt>Order</dt>
					<dd>3</dd>
					<dt>Criteria</dt>
					<dd><img class="img-responsive" src="{{site.urlRoot}}images/entitlements/entitlement_process_high_resolution.png" /></dd>
				</dl>
			</li>
			<li>Repeat steps E-F for <i>Normal</i></li>
		</ol>
	</li>
	<li>Create the Standard entitlement process
		<ol>
			<li>Click <b>Customize | Entitlement Management | Entitlement Processes</b></li>
			<li>Click <b>New Entitlement Process</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Entitlement Process Name</dt>
					<dd>Standard</dd>
					<dt>Description</dt>
					<dd>The standard entitlement process</dd>
					<dt>Active</dt>
					<dd>checked</dd>
					<dt>Version Notes</dt>
					<dd>Initial version</dd>
				</dl>
			</li>
			<li>Leave the advanced options as the default.</li>
			<li>Click <b>Save</b></li>
		</ol>
	<li>Add the case milestones to the Standard entitlement process
		<ol>
			<li>Under the Milestone section, click <b>New</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Milestone Name</dt>
					<dd>First Response</dd>
					<dt>Trigger Time</dt>
					<dd>240</dd>
					<dt>Start Time</dt>
					<dd>Entitlement Process</dd>
					<dt>Milestone Business Hours</dt>
					<dd>&lt;blank&gt;</dd>
					<dt>Order</dt>
					<dd>1</dd>
					<dt>Criteria is set to the following</dt>
					<dd><img class="img-responsive" src="{{site.urlRoot}}images/entitlements/entitlement_process_high_first_response.png" /></dd>
				</dl>
			</li>
			<li>Click <b>Save</b></li>
			<li>Repeat steps A-C for <i>Normal</i></li>
			<li>Under the Milestone section, click <b>New</b></li>
			<li>Fill in the following information.
				<dl class="dl-horizontal">
					<dt>Milestone Name</dt>
					<dd>Case Resolution</dd>
					<dt>Trigger Time</dt>
					<dd>2160</dd>
					<dt>Start Time</dt>
					<dd>Milestone Criteria</dd>
					<dt>Order</dt>
					<dd>3</dd>
					<dt>Criteria is set to the following</dt>
					<dd><img class="img-responsive" src="{{site.urlRoot}}images/entitlements/entitlement_process_high_resolution.png" /></dd>
				</dl>
			</li>
			<li>Repeat steps E-F for <li>Normal</i></li>
		</ol>
	</li>
</ol>
{% endblock %}