{% extends "entitlements.html" %}
{% set page.title = "More Reading" %}
{% set page.nav = "more" %}
{% set page.prev = "07_cases_and_entitlements.html" %}

{% block content %}
<h1>More Reading</h1>
<p>Entitlement management is not an easy thing to wrap your head around.  The following are some resources that can help:</p>
<ul>
	<li><a href="https://developer.salesforce.com/trailhead/module/entitlements">Entitlement Management Trailhead</a>: Trailhead module about entitlements and entitlement management</li>
	<li><a href="http://blog.deadlypenguin.com/blog/2015/07/29/service-breach-time-displaying-it-on-the-case/">Service Breach Time on Cases</a>: Being able to sort cases in a list view by SBT is a tricky thing.  This blog post covers how to copy the target date and the SBT to the case.</li>
	<li><a href="https://help.salesforce.com/HTViewHelpDoc?id=entitlements_milestones_trigger.htm">Auto-Complete Case Milestones</a>: Examples of a trigger to auto-complete a milestone.</li>
</ul>
<h1>Original Content</h1>
<p>The original content for the Dreamforce talk can be found below.  Please note that these may be outdated and do contain typos and some incorrect information.  For the please refer to this site for the most recent information.</p>
<ul>
	<li><a href="{{site.urlRoot}}/static/DF15_Entitlements_SLAs_SlideDeck.pdf">Slide Deck</a></li>
	<li><a href="{{site.urlRoot}}/static/DF15_Entitlements_SLAs_ExerciseGuide.pdf">Exercise Guide</a></li>
</ul>
<p style="margin-top: 100px;" class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-info-sign"></i> Have additional resources? Feel free to create a pull request to add them or add a new issue on <a href="https://github.com/pcon/handsontraining">Github</a></p>
{% endblock %}