{% extends "entitlements.html" %}
{% set page.title = "Build Entitlement Processes to Reach Your SLAs" %}
{% set page.nav = "index" %}
{% set page.next = "01_introduction.html" %}

{% block content %}
<h1>Hands-On Training: Build Entitlement Processes to Reach Your SLAs</h1>
<p>This hands-on training will help you learn how to use the built-in Salesforce entitlement process to generate milestones on your support cases to help you meet your SLAs</p>
<h2>Goals</h2>
<p>By the end of this hands-on training you should be understand concepts and be able to perform the following tasks</p>
<ul>
	<li>Understand what SLAs are and how they can be used in your organization</li>
	<li>What business hours are and how they differ from real world hours</li>
	<li>How to use holidays with your business hours</li>
	<li>How to enable entitlement management for your organization</li>
	<li>How to build and configure milestones, entitlement processes and mileston actions</li>
	<li>How to create entitlements and how to use them with cases</li>
</ul>
<h1>Video Recording</h1>
<p>This hands-on training was delivered in 2015 at Dreamforce and was also recorded professionally by Salesforce University.  You can follow along with the recording below.</p>
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FC-kPyRGi2E"></iframe>
</div>

{% endblock %}